

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body, html{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.7em;
}
.container{
    max-width: 1100px;
    margin: auto;
    overflow: auto;
    padding: 0 20px;
 
}
.Contenedor{
    max-width: 1100px;
    margin: auto;
    overflow: auto;
    padding: 0 20px;
 
}



/* BARRA DE NAVEGACIÓN*/

#navbar a{
    color: white;
}

#navbar h1{
    float: left;
    padding-top: 20px;
}

#navbar{
    background-color: rgba(91, 148, 148, 0.651);
    color: white;
    overflow:auto;
}
.nav{
    display:block;
}


#navbar li{
    float: left;
}

.li{
    display: list-item;
  
}
.barra-navegación{
    list-style-type:none;
 
}

.barra-navegación li >a{
    float: left;
    display: center;
}


a{ text-decoration: none;}


/* BARRA DE NAVEGACIÓN - INTERACCIÓN*/
#navbar ul li a.current, #navbar ul li a:hover {
    background-color: rgb(131, 130, 130);
    color: #8af7d6;
}

#navbar ul li a {
    display: block;
    padding: 20px;
    text-align: center;

}
#navbar ul{
    float: right;
}
.barra-navegación li a{
   padding: 15px 20px;
   text-decoration: none;
}




/* HEADER PORTADA*/
#portada{
    background: linear-gradient(to right, #2c5364ce, #203a43c0, #0f20279f),url(imagenes/fondo.jpg) center/cover;
    
    height: 650px;
}



#portada .portada-textos h1{
    font-size: 60px;
    line-height: 1.2em;
}

#portada .portada-textos p{
    padding-bottom: 20px;
    line-height: 1.7em;
}




#portada .portada-textos .texto1{
    color: #ffffff;
}

#portada .portada-textos h1{
    font-size: 60px;
    line-height: 1.2em;
}


#portada .portada-textos {
    text-align: center;
    color: rgb(255, 255, 255);
    padding-top: 170px;
    
}


/*footer*/

#main-footer {
    text-align: center;
    background-color: rgba(91, 148, 148, 0.651);
    color: #fff;
    padding: 20px;
}

 /*Sobre mi */ 
    

 .cuadro{
    background-color: rgba(91, 148, 148, 0.651);
    
    
}

.Cuadro{
    background-color: rgba(39, 43, 43, 0.527);
   
  height: 150px;
    
}


.foto{
    display: flex;
    justify-content: space-evenly;
  
} 
.FOTO{
    width: 25%;
}

.foto .textos_sobre_mi{
    width: 50%;
    color: rgb(0, 0, 0);
    float:center;
}

h2{
    color: white;
    font-size: 250%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.footer{
    display: block;
}

    

  
    .icono{
        color: white;
    }
    .textos_sobre_mi{
        float: right;
        width: 50%;
        height: 100%;
        padding: 50px 30px;

        
    }
 
    .textos_sobre_mi{
        height: 600px;
        width: 100%;
        background-color: rgba(185, 185, 185, 0.911);
        display: flex;
        flex-wrap: wrap;
    }

    .texto{
        color: rgb(71, 112, 117);
      
   
    }



    /* sobre mi nuevo  correcto*/ 
    #informacion{
        height: 650px;
        margin-bottom: 0;
    }
    
    #informacion .imagen-info{
        float: left;
        width: 50%;
        min-height: 100%;
    }
    
    .fondo-color{
        background-color: rgba(204, 203, 203, 0.932);
        color: #fff;
    }

    .imagen-info{
        width: 90px;
        margin-top: 80px;
    }
    
    #informacion .informacion{
        float: right;
        width: 50%;
        height: 100%;
        text-align: center;
        padding: 50px 30px;
       
    }



    
    .habilidades1{
        
        display: flex;
        justify-content: space-between;
        text-align: center;
      
    }
    .habilidades2{
        display: flex;
        justify-content: space-between;
        text-align: center;
       
        
    }
    .h-1{
       
        background-color: rgba(117, 177, 177, 0.644);
        border-radius: 10px;
        height: 30px;
        width: 120px;
        color: white;
       
    }

    .h-2{
        background-color:  rgba(117, 177, 177, 0.644);
        border-radius: 10px;
        height: 30px;
        width: 120px;
        color: white;
    }
    .h-3{
        background-color:  rgba(117, 177, 177, 0.644);
        border-radius: 10px;
        height: 30px;
        width: 120px;
        color: white;
    }
    .h-4{
        background-color: rgba(117, 177, 177, 0.644);
        border-radius: 10px;
        height: 30px;
        width: 140px;
        color: white;
    }

    .h-5{
        background-color:  rgba(117, 177, 177, 0.644);
        border-radius: 10px;
        height: 30px;
        width: 260px;
        color: white;
    }


    /* TRABAJOS DE DESARROLLO PROFESIONAL*/
    .Contenedor-clase{
        height: 300px;
        width: 100%;
        background-color: rgba(209, 205, 205, 0.76);
        display: flex;
    }

    .galeria-port{
        display: flex;
        justify-content:space-evenly ;
    }
    
    .trabajo-clase{
        width: 379.8px;
        margin-bottom: 10px;
        overflow: hidden;
        position: relative;
        cursor: pointer;
        box-shadow: 0 0 6px 0 rgb(0, 0, 0, .5);
    }
    .trabajo-clase > img{
        width: 100%;
        height: 300px;
        object-fit: cover;
        display:block;
    }

    .hover-galeria{
        position: absolute;
        width: 100%;
        height: 300px;
        top: 0;
        transform: scale(0);
        background: rgba(87, 169, 172, 0.63);
        transition: transform .5s;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    
    }
   

    .hover-galeria > a{
        color: white;
        text-align: center;
        
    }
    .trabajo-clase:hover .hover-galeria{
        transform: scale(1);
    }


     /*EDUCACIÓN DISEÑO INDUSTRIAL*/  

     .titulo-edu{
         color: rgb(78, 131, 139);
         height: 50px;
         margin-top: 20px;
         text-align: center;
     }

    #informacion-educacion{
        height: 505px;
        margin-top: 0;
    }
    
    #informacion-educacion .imagen-edu{
        float: right;
        width: 50%;
        min-height: 100%;
        text-align: center;
        align-items: center;



        
    }
    
    .fondo-edu{
        background-color:  rgba(105, 153, 153, 0.651);
        color: #fff;
    }
    
    #informacion-educacion .informacion-formacion{
        width: 50%;
        height: 100%;
        text-align: center;
        padding: 50px 30px;
        
        align-items: center;
       
    }


    .Contenedor-educacion-DI{
        height: 500px;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.76);
        display: flex;
    }

    .galeria-port{
        display: flex;
        justify-content:space-evenly ;
       
        
       
    }
    .educacion-di{
        width: 379.8px;
        margin-bottom: 10px;
        overflow: hidden;
        position: relative;
        cursor: pointer;
        box-shadow: 0 0 6px 0 rgb (0, 0, 0 , .5);
    }

    .educacion-di > img{
        width: 100%;
        height: 500px;
        object-fit: cover;
        display:block;
    }

    .hover-img{
        position: absolute;
        width: 100%;
        height: 500px;
        top: 0;
        transform: scale(0);
        background:  rgba(91, 148, 148, 0.651);
        transition: transform .5s;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    
    }
   
    

    .hover-img > a{
        color: white;
        text-align: center;
        
    }
    .educacion-di:hover .hover-img{
        transform: scale(1);
    }

    .meto{
        text-align: center;
        color: white;
    }



    /*CAJAS*/

    .caja{
        height: 400px;
        float: left;
        width: 33.3%;
        padding: 50px;
        text-align: center;
    }
    
    .caja i{
        margin-bottom: 15px;
    }
    
    .service{
        background-color: rgb(161, 161, 161);
        color: rgb(255, 255, 255);
        
    }
    
    .fondo-edu2{
        background-color: #c9cfcf;
        color: rgb(253, 253, 253);
    }
    
    .clear{
        clear: both;
    }
    
    h3{
        margin-top: 15px;
    }

/*EXPERIENCIA CORREGIDA*/

#infor{
    height: 500px;
    margin-bottom: 0;
}

#infor .imagen-info{
    float: left;
    width: 50%;
    min-height: 100%;
}

.fondo-color1{
    background-color: rgba(129, 165, 170, 0.932);
    color: #fff;
}
.fondo-color2{
    background-color: rgba(135, 166, 168, 0.932);
    color: #fff;
}

.imagen-info{
    width: 90px;
    margin-top: 80px;
}

#infor .informacion{
    float: right;
    margin-top: 100px;
    width: 50%;
    height: 100%;
    text-align: center;
    padding: 50px 30px;
   
}

.caj{
    height: 300px;
    float: left;
    width: 33.3%;
    padding: 50px;
    text-align: center;
}

.caj i{
    margin-bottom: 15px;
}

.funciones{
    background-color: rgb(168, 165, 165);
    color: rgb(255, 255, 255);
    
}

.fondo-edu2{
    background-color: #c9cfcf;
    color: rgb(253, 253, 253);
}


/*cajitas de experiencia*/

.Contenedor-expe{
    height: 500px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.76);
    display: flex;
}

.galeria-expe{
    display: flex;
    justify-content:space-evenly ;
   
    
   
}
.expe-di{
    width: 506px;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgb (0, 0, 0 , .5);
}

.expe-di > img{
    width: 100%;
    height: 500px;
    object-fit: cover;
    display:block;
}

.hover-img{
    position: absolute;
    width: 100%;
    height: 500px;
    top: 0;
    transform: scale(0);
    background:  rgba(91, 148, 148, 0.74);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}



.hover-img > a{
    color: white;
    text-align: center;
    
}
.expe-di:hover .hover-img{
    transform: scale(1);
}

.meto{
    text-align: center;
    color: white;
}



.Contenedor-expe2{
    height: 500px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.76);
    display: flex;
}

.galeria-expe2{
    display: flex;
    justify-content:space-evenly ;
   
    
   
}
.expe-di2{
    width: 506px;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgb (0, 0, 0 , .5);
}

.expe-di2 > img{
    width: 100%;
    height: 500px;
    object-fit: cover;
    display:block;
}

.hover-img{
    position: absolute;
    width: 100%;
    height: 500px;
    top: 0;
    transform: scale(0);
    background:  rgba(91, 148, 148, 0.74);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}



.hover-img > a{
    color: white;
    text-align: center;
    
}
.expe-di2:hover .hover-img{
    transform: scale(1);
}

.meto{
    text-align: center;
    color: white;
}











    /*experiencia*/

    #experiencia01{
        height: 500px;
        margin-bottom: 0;
    }
    
    #experiencia01 .imagen1{
        float: right;
        width: 50%;
    
        min-height: 100%;
    }
    
    .fondo1{
        background-color: rgba(102, 129, 127, 0.658);
        color: #fff;
    }
    
    #experiencia01 .informacion1{
        float: left;
        width: 50%;
        height: 100%;
        text-align: center;
        padding: 50px 30px;
       
    }
    
    /*experiencia 2*/
  

    #experiencia02{
        height: 500px;
        margin-bottom: 0;
    }
    
    #experiencia02 .imagen2{
        float: right;
        width: 50%;
        min-height: 100%;
    }
    .fondo2{
        background-color: rgba(142, 172, 170, 0.658);
        color: rgb(5, 206, 139);
    }
    
    #experiencia02 .informacion2 {
        float: right;
        width: 50%;
        height: 100%;
        text-align: center;
        padding: 50px 30px;
       
    }
    

    .boxx{
        height: 400px;
        float: left;
        width: 50%;
        padding: 50px;
        text-align: center;
    }
    
    .boxx i{
        margin-bottom: 15px;
    }
    
    .boxxx{
        height: 400px;
        float: left;
        width: 50%;
        padding: 50px;
        text-align: center;
    }
    
    .boxxx i{
        margin-bottom: 15px;
    }
    
    .caja-color{
       
        background-color: rgba(88, 118, 126, 0.658);
        color: rgb(255, 255, 255);
        
    }
    .fondo-blanco{
        background-color: #b4b4b4;
        color: rgb(255, 255, 255);
    }
    
    .clear{
        clear: both;
    }
    
    h3{
        margin-top: 0px;
    }
    


    /* CONTACTANOS*/

.text1-contacto{
    font-size: 30px;
    color:#609798 ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    

   
   
}

.info-sobre-textos{
    margin-top: 30px;
}
#contacto .formulario{
    margin-bottom: 20px;
}

#contacto input, #contacto textarea {
    width: 100%;
    padding: 10px;
    border: 1px #ddd solid;
}
.box{
    float: left;
    width: 33.3%;
    padding: 50px;
    text-align: center;
}

#info-adicional {
    margin-top: 50px;

}

#contacto{
    margin-top: 0px;
}

/* BOTONES DE INTERACCIÓN*/


.boton-negro{
    margin-top: 20px;
    display: inline-block;
    font-size: 17px;
    color: #fff;
    background-color: rgb(41, 83, 85);
    padding: 13px 20px;
    border: none;
    cursor: pointer;
    
}

.boton-negro a:hover{
    background-color: #f7c08a
}


/*PROYECTOS*/



#proyecto-ByL{
  
    background-color: rgb(255, 255, 255);
}

 .texto-byl {
    float: right;
    color: rgb(84, 151, 148);
    text-align: center;
    width: 40%;
    height: 100%;
   margin: 150px 70px;
}

.img-BYL{
    padding: 50px 80px ;
}



.dimensiones {
    height: 400px;
    background-color: rgba(115, 147, 156, 0.658);
}

.emocional{
    float: left;
    margin: 80px 200px;
    color: rgb(255, 255, 255);
    /*border: solid 1px;*/
    width: 350px;
    height: 200px;
    text-align: center;
}

.funcional{
    float: right;
    margin: 80px 200px;
    color: rgb(255, 255, 255);
   /* border: solid 1px;*/
    width: 350px;
    height: 200px;
    text-align: center;  
}

.box{
    height: 400px;
    float: left;
    width: 25%;
    padding: 50px;
    text-align: center;
}

.box i{
    margin-bottom: 15px;
}


.caja-color{
    background-color: rgba(88, 118, 126, 0.658);
    color: rgb(255, 255, 255);
    
}
.fondo-blanco{
    background-color: #b4b4b4;
    color: rgb(255, 255, 255);
}

.clear{
    clear: both;
}

h3{
    margin-top: 0px;
}




.boton1{
    margin-top: 20px;
    display: inline-block;
    font-size: 17px;
    background-color: #5f828b;
   
    padding: 13px 20px;
  
}

.informacion a{
    color: rgb(255, 255, 255);
}

a:hover{
    background-color: #94cbd481;
  
}


    


#panoramica{
    height: 428px;
    margin-bottom: 0;
}

#panoramica .imagen-pano{
    float: left;
    width: 50%;
    min-height: 100%;
}

.fondobyl{
    background: linear-gradient(to right, #2c5364ce, #203a43c0, #0f20279f),url(img-proyectos/fabricado-byl.jpeg) 50px no-repeat ;
    background-attachment: fixed;
    color: #fff;
    
    
}

#panoramica .informacion{
    margin: 0px 900px;
    width: 38%;
    height: 100%;
    text-align: center;
    padding: 50px 30px;
    align-items: center;
   
}


/*profes*/

.titulo-de-mi{
color: rgb(72, 117, 115);
text-align: center;
padding-bottom: 20px;
}

.lo-que-dicen{
    height: 100px;
}
.cards{
    display: flex;
    justify-content: space-evenly;
}


.cards .card{
    background-color: rgb(98, 165, 162);
    display: flex;
    width: 35%;
    height: 280px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgb(0, 0, 0, 0.6);

}

.cards .card img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid white;
    border-radius: 50px;
}

.cards .card > .contenido-texto-card{
    width: 60%;
    color: white;
}

.cards .card > .contenido-texto-card p{
 font-weight: 200;
 padding-top: 5px;
}